@keyframes flowerShow {
  0%   {
    opacity: 0; }
  100% {
    opacity: 1;
  }
  }

@keyframes show1 {
  0%   {
  transform: rotatez(36deg);    }
  100% {
      transform: rotatez(36deg);
      box-shadow: 0px 0px 10px 5px rgb(0,139,139);
      border: none;

  }
  }

@keyframes show2 {
  0%   {
  transform: rotatez(36deg);    }
  100% {
      transform: rotatez(72deg);
      box-shadow: 0px 0px 10px 5px rgb(138,43,226);
      border: none;


  }
  }

@keyframes show3 {
0%   {
transform: rotatez(36deg);    }
100% {
transform: rotatez(108deg);
box-shadow: 0px 0px 10px 5px rgb(0,255,0);
border: none;


}
}

@keyframes show4 {
0%   {
transform: rotatez(36deg);    }
100% {
transform: rotatez(144deg);
box-shadow: 0px 0px 10px 5px rgb(255,69,0);
border: none;


}
}

@keyframes show5 {
0%   {
transform: rotatez(36deg);    }
100% {
transform: rotatez(180deg);
box-shadow: 0px 0px 10px 5px rgb(255,215,0);
border: none;


}
}

@keyframes show6 {
0%   {
transform: rotatez(36deg);    }
100% {
transform: rotatez(216deg);
box-shadow: 0px 0px 10px 5px rgb(0,139,139);
border: none;


}
}

@keyframes show7 {
0%   {
transform: rotatez(36deg);    }
100% {
transform: rotatez(252deg);
box-shadow: 0px 0px 10px 5px rgb(138,43,226);
border: none;

}
}

@keyframes show8 {
0%   {
transform: rotatez(36deg);    }
100% {
transform: rotatez(288deg);
box-shadow: 0px 0px 10px 5px rgb(0,255,0);
border: none;


}
}

@keyframes show9 {
0%   {
transform: rotatez(36deg);    }
100% {
transform: rotatez(324deg);
box-shadow: 0px 0px 10px 5px rgb(255,69,0);
border: none;


}
}

@keyframes show10 {
0%   {
transform: rotatez(36deg);    }
100% {
transform: rotatez(360deg);
box-shadow: 0px 0px 10px 5px rgb(255,215,0);
border: none;


}
}
